.helpairbnb {
  position: relative;
  padding: 0 10%;
  margin: 70px 5%;
  border-bottom: 2px solid gray;
}
.btn1 {
  margin-right: 25px;
  background-color: transparent;
  border: none;
  color: #717171;
  margin-bottom: 30px;
}
.btn2 {
  margin-right: 25px;
  background-color: transparent;
  border: none;
  color: #717171;
}
.btn3 {
  margin-right: 25px;
  background-color: transparent;
  border: none;
  color: #717171;
}
.btn4 {
  margin-right: 25px;
  background-color: transparent;
  border: none;
  color: #717171;
}
